@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Bree+Serif&display=swap" rel="stylesheet"');
@font-face {
  font-family: Asushin;
  src: url("../Resources/Typo/CampanaScript_PERSONAL_USE_ONLY.otf"); }

* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya+Sans+SC", sans-serif;
  box-sizing: border-box; }

div li {
  display: block;
  align-content: center;
  height: fit-content; }

div li a {
  color: brown;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px; }

div p {
  font-weight: bold;
  text-decoration: none;
  font-size: 20px; }

.parrafolinks {
  list-style-type: none;
  border: solid;
  width: 180px; }

.parrafolinks {
  margin-left: 88px; }

/* Tamaño primera imagen */
.imagen1 {
  width: 350px;
  height: 350px;
  border: solid; }

/* Tamaño segunda imagen */
.imagen2 {
  width: 350px;
  height: 350px;
  border: solid; }

.imagenestitulos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center; }

.cuadrotextoimagen img {
  height: 500px; }

h1 {
  text-align: center;
  margin-top: 20px; }

.cuadrotextoimagen h3 {
  font-family: "Bree+Serif", serif;
  font-size: 30px;
  margin-bottom: 30px; }

.cuadrotextoimagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  border: solid 4px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px; }

/* Estilo de Navbar */
.navbar {
  background-color: black; }

.navbar-text,
.navbar-brand,
.nav-link {
  color: #fff; }

.nav-link:hover {
  color: white; }

.dropdown-item {
  background-color: black;
  color: #fff; }

.bodyhistoria {
  background-color: #9bbbcab9; }

.tituloprimerencuentro {
  text-align: center; }

.cuadroimagenesgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  align-content: center;
  font-family: sans-serif; }

/* Formato Grid flex */
.cuadroimagenesgrid div {
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  grid-auto-rows: auto; }

.cuadroimagenesgrid div img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.button {
  padding: 5px 15px;
  margin: 15px;
  border-radius: 15px;
  background-color: #39145c;
  color: white;
  font-family: sans-serif; }

.parrafoprimerencuentro {
  margin-left: 50px; }

h2 {
  text-align: center; }

.imagen1993 {
  display: flex;
  width: 450px;
  border: solid; }

.imagen1993:hover {
  transform: scale(150%);
  transition: 0.3s; }

.flex-container {
  display: flex;
  border: black;
  flex-direction: row;
  justify-content: space-between; }

.imagen1993-2 {
  margin-left: 150px; }

.pi93 {
  margin-left: 130px; }

.imagencar1 {
  width: 50%;
  height: 50%;
  margin-left: 400px; }

.imagencar2 {
  width: 50%;
  height: 50%;
  margin-left: 400px; }

.imagencar3 {
  width: 50%;
  height: 50%;
  margin-left: 300px; }

.parrafo3 {
  margin-left: 20px; }

.portada {
  height: 350px;
  margin-right: 80px; }

@media (min-width: 992px) {
  .parrafomanga p {
    margin-left: 80px;
    margin-right: 80px; }
  .texto p {
    font-family: Asushin;
    font-size: 100px;
    text-align: center;
    border: solid 4px;
    width: 280px;
    margin-left: 600px;
    margin-top: 20px; }
  .imagenmanga1993 img:hover {
    transform: translateX(190px) scale(200%);
    transition: 0.3s; } }

.imagen1993-2 {
  width: 350px;
  border: solid; }

@media (max-width: 1025px) {
  .imagen1993-2 {
    margin-left: 100px; }
  .pi93 {
    margin-left: 100px; }
  .portada {
    height: 275px;
    margin-right: 10px; } }

@media (max-width: 991px) {
  .texto p {
    font-family: Asushin;
    font-size: 70px;
    text-align: center;
    border: solid 4px;
    width: 180px;
    margin-left: 100px;
    margin-top: 20px; }
  .titulohistoria {
    margin-right: 20px; }
  .cuadroimagenesgrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    align-content: center;
    font-family: sans-serif; }
  .resumeneventos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .imagen1993 {
    width: 350px; }
  .imagen1993:hover {
    transform: scale(110%);
    transition: 0.3s; } }

.flex-container {
  display: flex;
  border: black;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.imagen1993-2 {
  width: 350px;
  border: solid; }

.imagenanime1 {
  width: 400px;
  margin-left: 80px; }

.imagenanime1:hover {
  transform: scale(110%);
  transition: 0.3s; }

.imagencar1 {
  width: 50%;
  height: 50%;
  margin-left: 300px; }

.imagencar2 {
  width: 50%;
  height: 50%;
  margin-left: 300px; }

.imagencar3 {
  width: 50%;
  height: 50%;
  margin-left: 300px; }

@media (max-width: 768px) {
  .imagencar1 {
    width: 50%;
    height: 50%;
    margin-left: 170px; }
  .imagencar2 {
    width: 50%;
    height: 50%;
    margin-left: 170px; }
  .imagencar3 {
    width: 50%;
    height: 50%;
    margin-left: 170px; }
  .imagen1993-2 {
    margin-left: 170px; }
  .pi93 {
    margin-left: 150px; }
  .imagenanime1 {
    width: 300px;
    margin-left: 180px; }
  .imagenanime1:hover {
    transform: scale(110%);
    transition: 0.3s; }
  .portada {
    height: 400px;
    margin-right: 10px; } }

@media (max-width: 426px) {
  .imagenanime1 {
    width: 300px;
    margin-left: 50px; }
  .imagenanime1:hover {
    transform: scale(110%);
    transition: 0.3s; }
  .imagencar1 {
    width: 50%;
    height: 50%;
    margin-left: 100px; }
  .imagencar2 {
    width: 50%;
    height: 50%;
    margin-left: 100px; }
  .imagencar3 {
    width: 50%;
    height: 50%;
    margin-left: 100px; }
  .imagen1993-2 {
    margin-left: 55px;
    width: 75%; }
  .pi93 {
    margin-left: 30px; }
  .portada {
    height: 220px;
    margin-right: 10px; } }

@media (max-width: 376px) {
  .imagencar1 {
    width: 50%;
    height: 50%;
    margin-left: 100px; }
  .imagencar2 {
    width: 50%;
    height: 50%;
    margin-left: 100px; }
  .imagencar3 {
    width: 50%;
    height: 50%;
    margin-left: 100px; }
  .imagen1993-2 {
    margin-left: 55px;
    width: 70%; }
  .pi93 {
    margin-left: 30px; }
  .portada {
    height: 200px;
    margin-right: 10px; }
  .imagenanime1 {
    width: 250px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 15px; }
  div p {
    font-weight: bold;
    text-decoration: none;
    font-size: 15px; } }
