@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Bree+Serif&display=swap" rel="stylesheet"');
@font-face {
  font-family: Asushin;
  src: url("../Resources/Typo/CampanaScript_PERSONAL_USE_ONLY.otf"); }

* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya+Sans+SC", sans-serif;
  box-sizing: border-box; }

div li {
  display: block;
  align-content: center;
  height: fit-content; }

div li a {
  color: brown;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px; }

div p {
  font-weight: bold;
  text-decoration: none;
  font-size: 20px; }

.parrafolinks {
  list-style-type: none;
  border: solid;
  width: 150px; }

.parrafolinks {
  margin-left: 80px; }

/* Tamaño primera imagen */
.imagen1 {
  width: 350px;
  height: 350px;
  border: solid; }

/* Tamaño segunda imagen */
.imagen2 {
  width: 350px;
  height: 350px;
  border: solid; }

.imagenestitulos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center; }

.cuadrotextoimagen img {
  height: 500px; }

h1 {
  text-align: center;
  margin-top: 20px; }

.cuadrotextoimagen h3 {
  font-family: "Bree+Serif", serif;
  font-size: 30px;
  margin-bottom: 30px; }

.cuadrotextoimagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  border: solid 4px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px; }

/* Estilo de Navbar */
.navbar {
  background-color: black; }

.navbar-text,
.navbar-brand,
.nav-link {
  color: #fff; }

.nav-link:hover {
  color: white; }

.dropdown-item {
  background-color: black;
  color: #fff; }

.bodyhistoria {
  background-color: #9bbbcab9; }

.tituloprimerencuentro {
  text-align: center; }

.cuadroimagenesgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  align-content: center;
  font-family: sans-serif; }

/* Formato Grid flex */
.cuadroimagenesgrid div {
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  grid-auto-rows: auto; }

.cuadroimagenesgrid div img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.button {
  padding: 5px 15px;
  margin: 15px;
  border-radius: 15px;
  background-color: #39145c;
  color: white;
  font-family: sans-serif; }

.parrafoprimerencuentro {
  margin-left: 50px; }

.manga1993descripcion h2 {
  text-align: center; }

.parrafomanga p {
  margin-left: 80px;
  margin-right: 80px; }

.resumeneventos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.imagenmanga img p {
  margin-top: 12px;
  font-size: 18px;
  margin-left: 20px; }

.imagenmanga1993 {
  height: 450px;
  margin-right: 40px;
  border: solid; }

.imagenmanga1993:hover {
  transform: translateX(-190px) scale(200%);
  transition: 0.3s; }

.imagenmanga1993-2 {
  height: 350px;
  margin-left: 40px;
  border: solid; }

.imagenmanga1993-2:hover {
  transform: translateX(190px) scale(200%);
  transition: 0.3s; }

.parrafoimagen1993-2 {
  margin-left: 20px; }

.imagenmanga1993-3 {
  height: 250px;
  border: solid; }

.imagenmanga1993-3:hover {
  transform: translateX(190px) scale(150%);
  transition: 0.3s; }

.imagenmanga1993-4 {
  height: 350px;
  margin-left: 40px;
  border: solid; }

.imagenmanga1993-4:hover {
  transform: translateX(-190px) scale(250%);
  transition: 0.3s; }

.segundoparrafo {
  margin-left: 20px;
  margin-right: 20px; }

h2 {
  text-align: center;
  margin-bottom: 20px; }

.parraforesumen {
  margin-left: 20px; }

.ultimaparte3imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .ultimaparte3imagenes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    grid-auto-rows: auto; }
  .ultimaparte3imagenes div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid; }

.parrafosobretresimagenes {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px; }

.parrafosituaciones div p {
  margin-left: 20px;
  margin-right: 20px; }

.primeraimagensituaciones img {
  margin-left: 80px;
  height: 550px; }

.primeraimagensituaciones p {
  margin-left: 80px; }

.parrafosiguienteaprimeraimagen p {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px; }

.imagenzoom1:hover {
  transform: translateX(190px) scale(150%);
  transition: 0.3s; }

.imagenzoom2:hover {
  transform: translateX(-190px) scale(150%);
  transition: 0.3s; }

.imagenzoom3:hover {
  transform: scale(150%);
  transition: 0.3s; }

.imagenzoom4:hover {
  transform: translateX(190px) scale(150%);
  transition: 0.3s; }

.ultimoparrafoconimagen {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .ultimoparrafoconimagen div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    grid-auto-rows: auto; }
  .ultimoparrafoconimagen div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid; }

.ultimasdosimagenes {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .ultimasdosimagenes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    grid-auto-rows: auto; }
  .ultimasdosimagenes div img {
    width: 80%;
    height: 90%;
    border: solid; }

.portada img {
  height: 350px;
  margin-right: 80px; }

@media (min-width: 992px) {
  .parrafomanga p {
    margin-left: 80px;
    margin-right: 80px; }
  .texto p {
    font-family: Asushin;
    font-size: 100px;
    text-align: center;
    border: solid 4px;
    width: 280px;
    margin-left: 600px;
    margin-top: 20px; }
  .imagenmanga1993 img:hover {
    transform: translateX(190px) scale(200%);
    transition: 0.3s; } }

@media (max-width: 991px) {
  .texto p {
    font-family: Asushin;
    font-size: 70px;
    text-align: center;
    border: solid 4px;
    width: 180px;
    margin-left: 100px;
    margin-top: 20px; }
  .titulohistoria {
    margin-right: 20px; }
  .cuadroimagenesgrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    align-content: center;
    font-family: sans-serif; }
  .resumeneventos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; } }

@media (max-width: 990px) {
  .imagenmanga1993:hover {
    transform: translateX(190px) scale(200%);
    transition: 0.3s; }
  .parraforesumen {
    margin-left: 80px;
    margin-right: 80px; }
  .imagenmanga1993 {
    height: 450px;
    margin-left: 180px; }
  .imagenmanga p {
    margin-top: 12px;
    font-size: 18px;
    margin-left: 70px; }
  .imagenmanga1993-2:hover {
    transform: translateX(190px) scale(200%);
    transition: 0.3s; }
  .imagenmanga1993-2 {
    height: 450px;
    margin-left: 80px;
    border: solid; }
  .segundoparrafo {
    margin-left: 120px;
    margin-right: 120px; }
  .imagenmanga1993-3 {
    height: 250px;
    border: solid;
    margin-left: 150px; }
  .imagenmanga1993-3:hover {
    transform: scale(150%);
    transition: 0.3s; }
  .imagenmanga1993-4 {
    height: 350px;
    margin-left: 225px;
    border: solid;
    margin-top: 80px; }
  .imagenmanga1993-4:hover {
    transform: scale(150%);
    transition: 0.3s; }
  .ultimaparte3imagenes {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .ultimaparte3imagenes div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      grid-auto-rows: auto; }
    .ultimaparte3imagenes div img {
      width: 70%;
      height: 100%;
      object-fit: cover;
      border: solid; }
  .parrafosobretresimagenes {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px; }
  .imagenzoom1:hover {
    transform: scale(120%);
    transition: 0.3s; }
  .imagenzoom2:hover {
    transform: scale(120%);
    transition: 0.3s; }
  .imagenzoom3:hover {
    transform: scale(120%);
    transition: 0.3s; }
  .imagenzoom4:hover {
    transform: scale(120%);
    transition: 0.3s; }
  .ultimoparrafoconimagen {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .ultimoparrafoconimagen div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      grid-auto-rows: auto; }
      .ultimoparrafoconimagen div p {
        margin-left: 120px;
        margin-right: 120px; }
    .ultimoparrafoconimagen div img {
      width: 70%;
      height: 100%;
      object-fit: cover;
      border: solid; }
  .ultimasdosimagenes {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    .ultimasdosimagenes div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      grid-auto-rows: auto; }
    .ultimasdosimagenes div img {
      width: 70%;
      height: 90%;
      border: solid; } }
