@import './utilities/colors';
@import './utilities/fonts';
@import './utilities/reset';

// Secciones

@import './sections/div';
@import './sections/imagenesindex';
@import './sections/imagenestitulospersonajes';
@import './sections/navbar';
@import './sections/paginahistoria';
@import './sections/titulos';
@import './sections/imageneshistoriacuadrogridflex';
@import './sections/manga1993';
@import './sections/mediaresponsive';
