// En este anidado, están los formatos para el cuadro de links de la página Index
div li {
    display: block;
    align-content: center;
    height: fit-content;
}


div li a {
    color: $colordelinks;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

div p {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;

}

.parrafolinks{
    list-style-type: none;
    border: solid;
    width: 180px;
}

.parrafolinks{

margin-left: 88px;
}

