footer {
    display: flex;
    background-color: black;
       h2 {
            color: $letrasblancas;

       }
        .parrafofooter{
            color: $letrasblancas;
            text-align: center;
            
        }    
        


}



