.cuadroimagenesgrid{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    align-content: center;
    font-family: sans-serif;
    

}
/* Formato Grid flex */
.cuadroimagenesgrid div{
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 10px;
    grid-auto-rows: auto;
}

.cuadroimagenesgrid div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button{
    padding: 5px 15px;
    margin: 15px;
    border-radius: 15px;
    background-color: #39145c;
    color: white;
    font-family: sans-serif;
}


.parrafoprimerencuentro{
margin-left: 50px;

}