.manga1993descripcion{
    h2{
        text-align: center;
    }
}

.parrafomanga{
    p{
        margin-left: 80px;
        margin-right: 80px;
    }
}

.resumeneventos{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.imagenmanga img{
    
    p{
        margin-top: 12px;
        font-size: 18px;
        margin-left: 20px;
    }
}



.imagenmanga1993{
    height: 450px;
    margin-right: 40px;
    border: solid
}

.imagenmanga1993{
    &:hover{
    transform: translateX(-190px) scale(200%);
    transition: 0.3s;
}
}

.imagenmanga1993-2{
    height: 350px;
    margin-left: 40px;
    border: solid
}

.imagenmanga1993-2{
    &:hover{
    transform: translateX(190px) scale(200%);
    transition: 0.3s;
}
}

.parrafoimagen1993-2{
    margin-left: 20px;
}

.imagenmanga1993-3{
    height: 250px;
    border: solid
    
}

.imagenmanga1993-3{
    &:hover{
    transform: translateX(190px) scale(150%);
    transition: 0.3s;
}
}

.imagenmanga1993-4{
    height: 350px;
    margin-left: 40px;
    border: solid
    
}

.imagenmanga1993-4{
    &:hover{
    transform: translateX(-190px) scale(250%);
    transition: 0.3s;
}
}








.segundoparrafo{

margin-left: 20px;
margin-right: 20px;
}


h2{
    text-align: center;
    margin-bottom: 20px;
}

.parraforesumen{
    margin-left: 20px;
}

.ultimaparte3imagenes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    div{

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        grid-auto-rows: auto;
    }
    div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid;

    }
    }

.parrafosobretresimagenes{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}

.parrafosituaciones{
  div p{
    margin-left: 20px;
    margin-right: 20px;
    
  }

}
.primeraimagensituaciones{
    img{
        margin-left: 80px;
        height: 550px;
    }
        p{
            margin-left: 80px;
        }
    }
.parrafosiguienteaprimeraimagen{
    p{
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 80px;

    }
}

.imagenzoom1{
    &:hover{
    transform: translateX(190px)scale(150%);
    transition: 0.3s;
}
}

.imagenzoom2{
    &:hover{
    transform: translateX(-190px)scale(150%);
    transition: 0.3s;
}
}


.imagenzoom3{
    &:hover{
    transform: scale(150%);
    transition: 0.3s;
}
}

.imagenzoom4{
    &:hover{
    transform: translateX(190px)scale(150%);
    transition: 0.3s;
}
}

.ultimoparrafoconimagen{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    div{

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        grid-auto-rows: auto;
    }
    div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid;
        
    }
    }

    .ultimasdosimagenes{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        div{
    
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            grid-auto-rows: auto;
        }
        div img{
            width: 80%;
            height: 90%;
            border: solid;
    
        }
        }