@media (min-width:992px){


    .parrafomanga{
        p{
            margin-left: 80px;
            margin-right: 80px;
        }
    }


        
    .texto p{
        font-family: Asushin;
        font-size: 100px;
        text-align: center;
        border: solid 4px;
        width: 280px;
        margin-left: 600px;
        margin-top: 20px;
    }    


.imagenmanga1993 img{
    &:hover{
    transform: translateX(190px) scale(200%);
    transition: 0.3s;
}
}


}


@media (max-width:991px){



    
.texto p{
    font-family: Asushin;
    font-size: 70px;
    text-align: center;
    border: solid 4px;
    width: 180px;
    margin-left: 100px;
    margin-top: 20px;
}    


.titulohistoria{

    margin-right: 20px;
}

.cuadroimagenesgrid{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    align-content: center;
    font-family: sans-serif;
    

}

.resumeneventos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }



}


@media (max-width:990px){

    .imagenmanga1993{
        &:hover{
        transform: translateX(190px) scale(200%);
        transition: 0.3s;
    }
    }

    .parraforesumen{
        margin-left: 80px;
        margin-right: 80px;
    }
    .imagenmanga1993{
        height: 450px;
        margin-left: 180px;

    }

    .imagenmanga{
        
        p{
            margin-top: 12px;
            font-size: 18px;
            margin-left: 70px;
        }
    }

    .imagenmanga1993-2{
        &:hover{
        transform: translateX(190px) scale(200%);
        transition: 0.3s;
    }
    }
    
    .imagenmanga1993-2{
        height: 450px;
        margin-left: 80px;
        border: solid
    }

    .segundoparrafo{

        margin-left: 120px;
        margin-right: 120px;
        }

        .imagenmanga1993-3{
            height: 250px;
            border: solid;
            margin-left: 150px;

            
        }
        
        .imagenmanga1993-3{
            &:hover{
            transform: scale(150%);
            transition: 0.3s;
        }
        } 

        .imagenmanga1993-4{
            height: 350px;
            margin-left: 225px;
            border: solid;
            margin-top: 80px;
            
        }
        
        .imagenmanga1993-4{
            &:hover{
            transform: scale(150%);
            transition: 0.3s;
        }
        }

        .ultimaparte3imagenes{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            div{
        
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                grid-auto-rows: auto;
            }
            div img{
                width: 70%;
                height: 100%;
                object-fit: cover;
                border: solid;
        
            }
            }
        
        .parrafosobretresimagenes{
            margin-left: 80px;
            margin-right: 80px;
            margin-top: 20px;
        }

        .imagenzoom1{
            &:hover{
            transform: scale(120%);
            transition: 0.3s;
        }
        }
        
        .imagenzoom2{
            &:hover{
            transform: scale(120%);
            transition: 0.3s;
        }
        }
        
        
        .imagenzoom3{
            &:hover{
            transform: scale(120%);
            transition: 0.3s;
        }
        }
        
        .imagenzoom4{
            &:hover{
            transform: scale(120%);
            transition: 0.3s;
        }
        }

        .ultimoparrafoconimagen{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            div{
        
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                grid-auto-rows: auto;
                p{
                    margin-left: 120px;
                    margin-right: 120px;
                }
            }
            div img{
                width: 70%;
                height: 100%;
                object-fit: cover;
                border: solid;
        
            }
            }

            .ultimasdosimagenes{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                div{
            
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px;
                    grid-auto-rows: auto;
                }
                div img{
                    width: 70%;
                    height: 90%;
                    border: solid;
            
                }
                }

}

