@media (min-width:992px){


    .parrafomanga{
        p{
            margin-left: 80px;
            margin-right: 80px;
        }
    }


        
    .texto p{
        font-family: Asushin;
        font-size: 100px;
        text-align: center;
        border: solid 4px;
        width: 280px;
        margin-left: 600px;
        margin-top: 20px;
    }    


.imagenmanga1993 img{
    &:hover{
    transform: translateX(190px) scale(200%);
    transition: 0.3s;
}
}


}

.imagen1993-2{
    width: 350px;
    border: solid;

}

@media (max-width:1025px){

    .imagen1993-2{
        margin-left: 100px;
                
    }
    
    .pi93{
        margin-left: 100px;
    }


    .portada{
        height: 275px;
        margin-right: 10px;
      }


}







@media (max-width:991px){



    
.texto p{
    font-family: Asushin;
    font-size: 70px;
    text-align: center;
    border: solid 4px;
    width: 180px;
    margin-left: 100px;
    margin-top: 20px;
}    


.titulohistoria{

    margin-right: 20px;
}

.cuadroimagenesgrid{

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    align-content: center;
    font-family: sans-serif;
    

}

.resumeneventos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }

    .imagen1993{
        width: 350px;
        
    
    }

    .imagen1993{
        &:hover{
        transform: scale(110%);
        transition: 0.3s;
    }
    }
}

.flex-container{
    display: flex;
    border: black;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
    
}
.imagen1993-2{
    width: 350px;
    border: solid;

}

.imagenanime1{
    width: 400px;
    margin-left: 80px;
}

.imagenanime1{
    &:hover{
    transform: scale(110%);
    transition: 0.3s;
}
}

.imagencar1{
    width:  50%;
    height: 50%;
    margin-left: 300px;
}

.imagencar2{
    width: 50%;
    height: 50%;
    margin-left: 300px;
}

.imagencar3{
    width: 50%;
    height: 50%;
    margin-left: 300px;

    .imagen2{
        width:  350px;
        height: 350px;
        border: solid;
    }
}





@media (max-width:768px){

        /* Tama単o segunda imagen */
        .imagen2{
            width:  350px;
             height: 350px;
            border: solid;
             margin-left: 30px;
        }  


    .imagencar1{
        width:  50%;
        height: 50%;
        margin-left: 170px;
    }
    
    .imagencar2{
        width: 50%;
        height: 50%;
        margin-left: 170px;
    }
    
    .imagencar3{
        width: 50%;
        height: 50%;
        margin-left: 170px;
    }

    .imagen1993-2{
        margin-left: 170px;
                
    }
    
    .pi93{
        margin-left: 150px;
    }

    .imagenanime1{
        width: 300px;
        margin-left: 180px;
    }
    
    .imagenanime1{
        &:hover{
        transform: scale(110%);
        transition: 0.3s;
    }
    }

    .portada{
        height: 400px;
        margin-right: 10px;
      }

    
}


@media (max-width:426px){


    .imagenanime1{
        width: 300px;
        margin-left: 50px;
    }
    
    .imagenanime1{
        &:hover{
        transform: scale(110%);
        transition: 0.3s;
    }
    }


    .imagencar1{
        width:  50%;
        height: 50%;
        margin-left: 100px;
    }
    
    .imagencar2{
        width: 50%;
        height: 50%;
        margin-left: 100px;
    }
    
    .imagencar3{
        width: 50%;
        height: 50%;
        margin-left: 100px;
    }

    .imagen1993-2{
        margin-left: 55px;
        width: 75%;        
    }
    
    .pi93{
        margin-left: 30px;
    }
    .portada{
        height: 220px;
        margin-right: 10px;
      }
                
    } /* Tama単o primera imagen */
    .imagen1{
        width:  350px;
        height: 350px;
        border: solid;
        margin-left: 30px;
    
    }
    


    .texto p{
        font-family: Asushin;
        font-size: 70px;
        text-align: center;
        border: solid 4px;
        width: 180px;
        margin-left: 120px;
        margin-top: 20px;
    }  

    .parrafolinks{

        margin-left: 125px;

        }
    
        .parrafolinks{
            list-style-type: none;
            border: solid;
            width: 180px;
            margin-left: 109px;
            margin-top: 20px;
            
            
        }


@media (max-width:376px){


    .imagencar1{
        width:  50%;
        height: 50%;
        margin-left: 100px;
    }
    
    .imagencar2{
        width: 50%;
        height: 50%;
        margin-left: 100px;
    }
    
    .imagencar3{
        width: 50%;
        height: 50%;
        margin-left: 100px;
    }


    .imagen1993-2{
        margin-left: 55px;
        width: 70%;        
    }
    
    .pi93{
        margin-left: 30px;
    }

    .portada{
        height: 200px;
        margin-right: 10px;
      }

      .imagenanime1{
        width: 250px;
        margin-left: 50px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    div p {
        font-weight: bold;
        text-decoration: none;
        font-size: 15px;
    
    } /* Tama単o primera imagen */
    .imagen1{
        width:  250px;
        height: 250px;
        border: solid;
        margin-left: 40px;
    
    }
    
    /* Tama単o segunda imagen */
    .imagen2{
        width:  250px;
        height: 250px;
        border: solid;
        margin-left: 40px;
        margin-top: 20px;
    }   
    .footer{
            font-size: 5px;
    }
    .texto p{
        font-family: Asushin;
        font-size: 70px;
        text-align: center;
        border: solid 4px;
        width: 180px;
        margin-left: 90px;
        margin-top: 20px;
    }  

    .parrafolinks{

        margin-left: 125px;

        }
    
        .parrafolinks{
            list-style-type: none;
            border: solid;
            width: 180px;
            margin-left: 80px;
            margin-top: 20px;
            
            
        }

}